.header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%); 
}

.logoHeader {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1 {
        color: #fff;
        font-size: 30px;
    }
}

.navHeader {
    width: 30%;

    ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-around;
    }

    .link {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }
}

.barraDeBusca {
    width: 25%;
    height: 6vh;
    display: flex;
    margin-right: 1%;
    border-radius: 20px;
    align-items: center;
    border: solid #fff;
    justify-content: space-evenly;

    input {
        width: 60%;
        height: 10vh;
        border: none;
        background-color: transparent;

        &::placeholder {
            color: #fff;
            font-size: 20px;
          }
    }

    button {
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

}

@media (max-width: 768px){
    .header {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logoHeader {
        width: 90%;
    }

    .navHeader{
        width: 95%;
    }
    .barraDeBusca{
        display: none;
    }
}